.fix{
	position:fixed;
}
.containerColor{
 	background-color: #dfe3ee;
 	}
a{
    cursor: pointer;
}
.fbLinkStyle{
	color:#FFF;
	font-weight:bold;
	display: inline-block;
	max-width: 175px;
	overflow: hidden;
	padding-left: 8px;
	padding-right: 0px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size:small;
}

.nav > li > a:focus{
    text-decoration: none;
	background-color: #3b5998;
	 	color: #FFF;
}
 .nav > li > a:hover {
 	background-color: #3b5998;
 	color: #FFF;
 }

.fb-button{
    color: #4B4242;
    background-color: #FFF;
}

.searchButton> .btn:hover{
 	background: white;
}
.searchButton> .btn:visited{
	background: white;
}
 .searchButton> .btn:focus{
  	background: rgb(36, 100, 197);
}
.searchButton> .btn:ACTIVE{
	background: white;
	}
.zeroPad
{
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}
.fbColor{
background-color: #3b5998;
}
#fbIcon{
	padding-right:0px;
	margin-top: 13%;
}
.navbar-form .input-group > .form-control {
    width: 450px;
}
.reducedSize{
	font-size: smaller;
}
span.myBrand{
	width:50px;
	height:50px;
}
.navbar-form {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border: 0px none;
    box-shadow: none;
    width: 100%;
}
.searchWidth{
	min-width:490px;
}
.alignRight{
	float:right;
}
.alignLeft{
	float:left;
}
.searchStyle{
	color:gray;
	font-weight:bold;
	margin-left: 10px;	
}
#editLinkStyle{
	text-decoration:none;
	color:gray;
	font-weight:bold;
	margin-right: 10px;
}
#editLinkStyle:active{
	text-decoration:none;
	color:gray;
	font-weight:bold;
}
#editLinkStyle:hover,#editLinkStyle:FOCUS{
	text-decoration:underline;
	}
.clearFloat{
	clear: both;
}
.navLinkPane{
	left:auto;
	right:0px;
	min-width:330px;
}
.menuLeft {
    left:auto;
    right:0px;
    min-width: 160px;
}

.list-group-item{
	border:none;
	padding:5px 10px;
	background-color: #dfe3ee;
}
.leftCol{
	margin-left: 50px;
	width: 175px;
	box-shadow:none;
}
.list-group.contentPane{
	padding-right:0px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.48);
	margin-bottom: 10px;
	margin-top: 10px;
}
.list-group-item.contentPane::FIRST-CHILD{
	margin-top: 5px;
}
.displayBlock{
	display:inline-block;
}

.list-group-item.leftCol{
	border:none;
	background-color: #dfe3ee;
	box-shadow:none;
}
#comment{
	margin-top:5px;
	resize: none;
}
.feeds>.list-group-item{
	background-color: white;
}
.breakList{
	height:20px;
	background-color: #dfe3ee;
}
